node_modules/
www/
tmp/
.cache/
.netlify/
.env
.DS_Store
package-lock.json
# Local Netlify folder
.netlify
.vscode/
.eslintcache
styles.css# ignore node_modules symlink
node_modules
node_modules.nosync
