* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
}

main {
  display: grid;
  place-content: center;
  font-family: sans-serif;
}

#status {
  display: flex;
  align-items: center;
}


#meta button {
  font-size: 40px;
  background-color: transparent;
  border: 0;
}

#score {
  margin-inline-start: auto;
}

#grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  gap: 5px;
}

#grid > button {
  width: calc((90vmin / var(--grid-size)));
  font-size: calc((50vmin / var(--grid-size))) ;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  aspect-ratio: 1;
  background-color: #f4f4f4;
  /* outline: 2px solid hsl(351, 97%, 76%); */
}

#grid > * > div {
  opacity: 0;
  transition: .5s opacity ease-in-out;
  width: 100%;
}

#score {
  font-size: 20px;
  justify-self: end;
  color: #888;
}

.visible {
  opacity: 1 !important;
}

#confetti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}