* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  max-width: 800px;
  margin-inline: auto ;
  gap: 5px;
}

#grid > button {
  aspect-ratio: 1;
  font-size: 100px;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-items: center;
}

#grid > * > div {
  opacity: 0;
  transition: .5s opacity ease-in-out;
  width: 100%;
}

.visible {
  opacity: 1 !important;
}